<ion-view title="Corrida Grátis - Uber, Cabify, 99" id="page5">
  <ion-content padding="true" class="has-header">
    
    <!--UBER-->
    <div class="list card" id="corridaGrTisUberCabify99-card21">
      <ion-item class="item-thumbnail-left" id="corridaGrTisUberCabify99-list-item3">
        <img src="img/ge2emt4nSzOrJEBC3QxN_uber.png">
        <h2>Uber</h2>
        <p style="white-space:normal;">Ganhe R$10 de desconto nas suas duas primeiras viagens! Elas podem sair de graça!</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/VvfKCPXhSAimzPzNI2hT_CORRIDAGRTIS1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left dark" id="corridaGrTisUberCabify99-list-item4" href="https://www.uber.com/invite/wgevrk7wue">
        <i class="icon ion-ios-copy"></i>Resgatar código</ion-item>
    </div>

    <!--CABIFY-->
    <div class="list card" id="corridaGrTisUberCabify99-card22">
      <ion-item class="item-thumbnail-left royal" id="corridaGrTisUberCabify99-list-item5">
        <img src="img/FcjfvToyTpyX7guC87vK_logo-vertical.png">
        <h2royal>Cabify
          <p style="white-space:normal;">Ganhe R$15 de desconto na sua primeira corrida! Ela pode sair de graça!</p>
        </h2royal>
      </ion-item>
      <div class=" item item-image">
        <img src="img/b318NIrmTfeY6HZiL1k0_CORRIDAGRTIS2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left royal" id="corridaGrTisUberCabify99-list-item6" href="https://cabify.com/i/leonardom3158">
        <i class="icon ion-ios-copy"></i>Resgatar código</ion-item>
    </div>

    <!--99-->
    <div class="list card" id="corridaGrTisUberCabify99-card24">
      <ion-item class="item-thumbnail-left energized" id="corridaGrTisUberCabify99-list-item11">
        <img src="img/njYJTQ8PSYyb1Q7eOxIV_logo_99_96x96.png">
        <h2energized>99 Taxi
          <p style="white-space:normal;">Ganhe R$20 de desconto na sua primeira corrida! Ela pode sair de graça!</p>
        </h2energized>
      </ion-item>
      <div class=" item item-image">
        <img src="img/MCpa9WEQyWTJlpZW3KfA_CORRIDAGRTIS3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left energized" id="corridaGrTisUberCabify99-list-item12" href="http://ssqt.co/mec1FRL">
        <i class="icon ion-ios-copy"></i>Resgatar código</ion-item>
    </div>
  </ion-content>
</ion-view>