<ion-view title="Corrida Grátis - Uber, Cabify, 99" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="corridaGrTisUberCabify992-card26">
      <ion-item class="item-thumbnail-left" id="corridaGrTisUberCabify992-list-item15">
        <img src="img/hO63KM35TeibwmAtZlpq_uber.png">
        <h2>Uber</h2>
        <p>Siga os passos abaixo</p>
      </ion-item>
      <div class="item item-body" id="corridaGrTisUberCabify992-list-item-container8">
        <div id="corridaGrTisUberCabify992-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1º:</strong> Baixe o app na Google Play e realize seu cadastro</p>

          <p style="color:#000000;">
            <strong>2º:</strong> To que no botão de menu (parte superior direita)</p>

          <p style="color:#000000;">
            <strong>4º:</strong> Selecione a opção 'Pagamento'</p>

          <p style="color:#000000;">
            <strong>5º:</strong> Vá em 'Adicionar código promocional', cole o código e confirme</p>
        </div>
      </div>
    </div>
    <div class="list card" id="corridaGrTisUberCabify992-card25">
      <ion-item class="item-thumbnail-left royal" id="corridaGrTisUberCabify992-list-item13">
        <img src="img/TQTMnFsCT7iYpdvHPBYX_logo-vertical.png">
        <h2royal>Cabify
          <p>Siga os passos abaixo</p>
        </h2royal>
      </ion-item>
      <div class="item item-body" id="corridaGrTisUberCabify992-list-item-container7">
        <div id="corridaGrTisUberCabify992-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1º:</strong> Baixe o app na Google Play</p>

          <p style="color:#000000;">
            <strong>2º:</strong> Crie uma conta e cadastre um cartão de crédito.</p>

          <p style="color:#000000;">
            <strong>3º:</strong> Clique no canto superior esquerdo para acessar seu perfil.</p>

          <p style="color:#000000;">
            <strong>4º:</strong> Clique na aba "Promoções" e cole o código específico.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="corridaGrTisUberCabify992-card27">
      <ion-item class="item-thumbnail-left energized" id="corridaGrTisUberCabify992-list-item17">
        <img src="img/ZyczFYIsRhi8VXr4fANF_logo_99_96x96.png">
        <h2energized>99
          <p>Siga os passos abaixo</p>
        </h2energized>
      </ion-item>
      <div class="item item-body" id="corridaGrTisUberCabify992-list-item-container9">
        <div id="corridaGrTisUberCabify992-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1º:</strong> Baixe o app na Google Play e crie sua conta</p>

          <p style="color:#000000;">
            <strong>2º:</strong> Peça seu táxi</p>

          <p style="color:#000000;">
            <strong>3º:</strong> Selecione 'Cupom de Desconto' na forma de pagamento</p>

          <p style="color:#000000;">
            <strong>4º:</strong> Cole o cupom</p>

          <p style="color:#000000;">
            <strong>5º:</strong> Agora é só confirmar o pedido e aproveitar o desconto!</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>